<!-- filepath: /C:/Users/pansa/Angular-Project/airline/src/app/passenger-dashboard/containers/passenger-dashboard/passenger-dashboard/passenger-dashboard.component.html -->
<div class="app">
    <app-passenger-count [items]="passengers"> </app-passenger-count>
    <div *ngFor="let passenger of passengers">
        <app-passenger-detail [detail]="passenger"></app-passenger-detail>
    </div>

    <h1>Airline Passengers</h1>
    <ul>
        <ng-container *ngFor="let passenger of passengers; let i = index">
            <span class="status" [ngStyle]="{
        backgroundColor: (passenger.checkedIn ? 'red' : '#2ecc71')
    }"></span>
            <li>
                {{ i }}: {{ passenger.fullname }}
                <p>{{ passenger | json}}</p>
                <div class="date">
                    Check in date:{{ passenger.checkInDate ? (passenger.checkInDate | date: 'MMMM d, Y' | uppercase) :
                    'Not checked in'}}
                </div>
                <div class="children">
                    Children: {{ passenger.children?.length || 0 }}
                </div>
            </li>
        </ng-container>
    </ul>
</div>