<div class="app">
    <app-passenger-count [items]="passengers"> </app-passenger-count>
    <div *ngFor="let passenger of passengers">
        {{ passenger.fullname }}
    </div>
    <app-passenger-detail *ngFor="let passenger of passengers;" [detail]="passenger" (edit)="handleEdit($event)"
        (remove)="handleRemove($event)"></app-passenger-detail>

    <h1>Airline Passengers</h1>
    <ul>
        <ng-container *ngFor="let passenger of passengers; let i = index">
            <span class="status" [ngStyle]="{
        backgroundColor: (passenger.checkedIn ? 'red' : '#2ecc71')}"></span>
            <li>
                {{ i }}: {{ passenger.fullname }}
                <p>{{ passenger | json}}</p>
                <div class="date">
                    Check in date:{{ passenger.checkInDate ? (passenger.checkInDate | date: 'MMMM d, Y' | uppercase) :
                    'Not checked in'}}
                </div>
                <div class="children">
                    Children: {{ passenger.children?.length || 0 }}
                </div>
            </li>
        </ng-container>
    </ul>
</div>